<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54318329-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-54318329-2');
  </script>
  <!-- Linking fonts, styles etc. -->
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <!-- Metadata for search engines -->
  <title>Unsubber - Clean up your Reddit subscriptions</title>
  <meta name="description" content="Analyzes your Reddit subscriptions for inactive subreddits, so you can tidy up the list.">
  <!-- Metadata for browsers -->
  <meta charset="UTF-8">
  <meta name="color-scheme" content="dark light">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <!-- Open Graph metadata -->
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ url_for('static', filename='Unsubber-Logo-Tall.png') }}">
</head>
<body>
  <header>
    <h1><a href="/">Unsubber</a></h1>
  </header>
  <div class="content">{% block content %}{% endblock %}</div>
  <div class="footer">
    <p>
      A thing by <a href="https://antrikshy.com">Antriksh Yadav</a>. Not affiliated with Reddit.<br/>
      <a href="https://github.com/Antrikshy/Unsubber">Source on GitHub.</a>
    </p>
  </div>
  {% block scripts %}{% endblock %}
</body>
</html>