{% extends "base.html" %}
{% block content %}
  <div class="login-hero">
    <p>Unsubber analyzes recent activity on subreddits from your subscriptions, and uses heuristics to determine which ones are inactive.</p>
    <p>Clean up your Reddit subscriptions.</p>
    <p>
      <a href="/login">Sign in with Reddit</a> to begin.
      <br/>
      <br/>
      <span class="login-disclaimer">Unsubber asks for minimal permissions that last an hour. It does not automatically unsubscribe you from any subreddits.</span>
      <!-- Start Imgur demo embed -->
      <blockquote class="imgur-embed-pub" lang="en" data-id="a/bOtwxyH" data-context="false" ><a href="//imgur.com/a/bOtwxyH"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
      <!-- End Imgur demo embed -->
    </p>
  </div>
{% endblock %}