{% extends "base.html" %}
{% block content %}
  <div class="login-hero">
    <p>Unsubber analyzes recent activity on subreddits from your subscriptions, and uses heuristics to determine which ones are inactive.</p>
    <p>Clean up your Reddit subscriptions.</p>
    <p>
      <a href="/login">Sign in with Reddit</a> to begin.
      <br/>
      <br/>
      <span class="login-disclaimer">Unsubber asks for minimal permissions that last an hour. It does not automatically unsubscribe you from any subreddits.</span>
      <!-- Start Gfycat demo embed -->
      <div style='position:relative; padding-bottom:calc(50.98% + 44px)'>
        <iframe src='https://gfycat.com/ifr/EasygoingBeneficialAcornbarnacle' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen/>
      </div>
      <!-- End Gfycat demo embed -->
    </p>
  </div>
{% endblock %}